.h1, h1 {
    font-size: 25px !important;
}

.card-comentario {
    height: 100px;
    overflow: auto;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

small {
  font-size: 12px;
}